Source: freeipa
Section: net
Priority: extra
Maintainer: Michele Baldessari <michele@pupazzo.org>
Build-Depends: quilt, debhelper (>= 9), dh-autoreconf,
# client
 gettext,
 krb5-user,
 libcurl4-nss-dev,
 libkrb5-dev,
 libldap2-dev,
 libnss3-dev,
 libnspr4-dev,
 libpopt-dev,
 libsasl2-dev,
 libssl-dev,
 libxmlrpc-c3-dev,
 python-all-dev,
 python-kerberos,
 python-krbv,
 python-ldap,
 python-libipa-hbac,
 python-netaddr,
 python-nss,
 python-openssl,
 python-setuptools,
 python-sss,
 python-support,
# server
 389-ds-base-dev (>= 1.1.3),
 libsvrcore-dev,
 uuid-dev,
 selinux-policy-dev,
# tests
 python-lxml,
 python-nose,
Standards-Version: 3.9.3
Vcs-Git: git://git.debian.org/git/collab-maint/freeipa.git
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=collab-maint/freeipa.git
Homepage: http://www.freeipa.org

Package: freeipa-server
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 freeipa-client (= ${binary:Version}),
 freeipa-admintools (= ${binary:Version}),
 python-freeipa (= ${binary:Version}),
 389-ds-base,
 acl,
 apache2,
 dogtag-pki-common-theme,
 dogtag-pki-ca-theme,
 krb5-kdc,
 krb5-kdc-ldap,
 krb5-pkinit,
 ldap-utils,
 libnss3-tools,
 libsasl2-modules-gssapi-mit,
 libapache2-mod-wsgi,
 libapache2-mod-auth-kerb,
 libapache2-mod-nss,
 ntp,
 pki-ca,
 pki-silent,
 python-ldap,
 python-krbv,
 python-pyasn1,
# not packaged yet
# slapi-nis,
 tomcat6,
Description: FreeIPA is a centralized identity framework
 FreeIPA is an integrated solution to provide centrally managed Identity
 (machine, user, virtual machines, groups, authentication credentials), Policy
 (configuration settings, access control information) and Audit (events,
 logs, analysis thereof).
 .
 This is the server package

Package: freeipa-client
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 python-freeipa (= ${binary:Version}),
 bind9utils,
 certmonger,
 chkconfig,
 krb5-user,
 libcurl3 (>= 7.22.0),
 libnss3-tools,
 libsasl2-modules-gssapi-mit,
 libxmlrpc-core-c3 (>= 1.16.33-3.1ubuntu5),
 ntp,
 python-ldap,
 sssd,
 wget,
Suggests:
 libpam-krb5,
Description: FreeIPA is a centralized identity framework
 FreeIPA is an integrated solution to provide centrally managed Identity 
 (machine, user, virtual machines, groups, authentication credentials), Policy
 (configuration settings, access control information) and Audit (events,
 logs, analysis thereof). 
 .
 This is the client package

Package: freeipa-admintools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends},
 freeipa-client (= ${binary:Version}),
 python-freeipa (= ${binary:Version}),
 python-krbv,
 python-ldap,
Description: FreeIPA is a centralized identity framework
 FreeIPA is an integrated solution to provide centrally managed Identity
 (machine, user, virtual machines, groups, authentication credentials), Policy
 (configuration settings, access control information) and Audit (events,
 logs, analysis thereof).
 .
 This is the containing some administration tools

Package: python-freeipa
Architecture: any
Section: python
Depends: ${shlibs:Depends}, ${python:Depends}, ${misc:Depends},
 gnupg,
 iproute,
 python-kerberos,
 python-libipa-hbac,
 python-lxml,
 python-netaddr,
 python-nss,
 python-openssl,
Description: FreeIPA is a centralized identity framework
 FreeIPA is an integrated solution to provide centrally managed Identity 
 (machine, user, virtual machines, groups, authentication credentials), Policy
 (configuration settings, access control information) and Audit (events,
 logs, analysis thereof). 
 .
 This Python module is used by other FreeIPA packages
